include spinner.jade
doctype html
html
    head
        link(rel="stylesheet" type="text/css" href="/css/style.css")
        title AControl - Editor
    body
        header
            h1 AControl - Editor
            //-+spinner(class="inline activity")
            .plan-meta
                label(for="planWidth") Breite
                input(type="number" min="0" max="40" value="5" name="planWidth")#plan-width-input
                label(for="planHeight") Höhe
                input(type="number" min="0" max="40" value="5" name="planHeight")#plan-height-input
                .applyPlanSize.icn-btn
        main
            .plan
            .editor-controls
                .buttons
                    .track.g0
                    .track.g90
                    .track.d0
                    .track.d90
                    .track.d180
                    .track.d270
                    .track.dd0
                    .track.dd90
                    .track.a0
                    .track.a90
                    .track.a180
                    .track.a270
                    .track.p0
                    .track.p90
                    .track.p180
                    .track.p270
                    
        script(src="/js/jquery.js")
        script(src="/js/editor.js")
