.settings-overlay
    .server
        h3 Please note: these settings are for advanced users only. There usually is no need to change any of them.
        .setting
            .label Server port:
            input(type="number" value="3030") 
        .setting
            .label Baudrate:
            input(type="number" value="115200") 
    .client
        h3 Please note: If you clear your browser cookies, these settings will get reset to their default.
        .setting
            .label Clear console when reconnected to server
            input(type="checkbox") 
        .setting
            .label Reload available ports each time the dropdown get triggered
            input(type="checkbox") 
        .setting
            .label Autoload the last plan
            input(type="checkbox") 
        .setting
            .label Base font size
            input(type="number" value="16")
        .setting
            .label Base icon size
            input(type="number" value="48")
