include spinner.jade
doctype html
html
    head
        link(rel="stylesheet" type="text/css" href="/css/style.css")
        script(src="/js/jquery.js")
        script(src="/js/cookies-2.0.4.js")
        script(src="/socket.io/socket.io.js")
        title AControl
        
    body
        header
            h1 AControl
            +spinner(class="inline activity")
        main
            .controls
        .console
            .messages
            .toggle 
            
        script(src="/js/client.js")
        
