doctype html
html
    head
        link(rel="stylesheet" type="text/css" href="/css/style.css")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
        script(src="/socket.io/socket.io.js")
        title AControl
        
    body
        header
            h1 AControl
        main
            .controls
        .console
            h3 Console
            .messages
                
            
            
        script(src="/js/client.js")
        
