include spinner.jade
doctype html
html
    head
        link(rel="stylesheet" type="text/css" href="/css/style.css")
        title AControl
    body
        .loader
            .title AControl
            +spinner(class="preloader")
        header
            h1 AControl
            .ports-dropdown 
                .current Select port
                .items
            +spinner(class="inline activity")
            a(href="/editor" target="_blank") Edit plan
            .server-settings-toggle(title="Server settings")
            .client-settings-toggle(title="Client settings")
        main
            .controls
            
                
        .console
            .messages
            .actions
                .toggle(title="Fold console")
                .clear(title="Clear console")
        
        include settings.jade
        
            
        
        //-scripts
        script(src="/js/jquery.js")
        script(src="/js/cookies-2.0.4.js")
        script(src="/socket.io/socket.io.js")
        
        script(src="/js/track.js")
        script(src="/js/client.js")
            
