include spinner.jade
doctype html
html
    head
        link(rel="stylesheet" type="text/css" href="/css/style.css")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
        script(src="/js/jquery.js")
        script(src="/socket.io/socket.io.js")
        title AControl
        
    body
        header
            h1 AControl
            +spinner(class="inline")
        main
            .controls
        .console
            .messages
            .toggle 
            
        script(src="/js/client.js")
        
