.log-list
  top: #{$header-height - 1rem}
  right: 0
  bottom: 0
  min-width: 100px
  position: fixed
  text-align: right
  overflow-y: auto
  overflow-x: hidden

  .log-message
    box-sizing: border-box
    background-color: #fff
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2)
    padding: 0 2rem
    color: rgba(0, 0, 0, 0.8)
    width: 250px
    z-index: 980
    text-align: left
    transition: all .3s ease-in-out
    height: 0
    margin: 0 .5rem
    visibility: hidden
    opacity: 0

    &.log-error
      background-color: rgb(245, 90, 90)

    &.show
      height: auto
      margin: 1rem .5rem
      padding: 1rem 2rem
      visibility: visible
      opacity: 1
  


