extends ./template/basic.pug

block headerTitle
    span.mdl-layout-title Home

block main
    .mdl-grid
        #ac-welcome-card.mdl-card.mdl-shadow--2dp.mdl-cell.mdl-cell--2-col
            .mdl-card__title(style="padding-bottom: 0; padding-top: 200px")
                h2.mdl-card__title-text(style="box-shadow: inset 0px -78px 31px -40px rgba(255,255,255,1)")
                    | Willkommen bei AControl!
            .mdl-card__supporting-text
                p Stellen Sie zunächst eine Verbindung her und laden Sie einen Plan hoch, um anzufangen.

        #ac-connection-card.mdl-card.mdl-shadow--2dp.mdl-cell.mdl-cell--4-col
            .mdl-card__title
                h2.mdl-card__title-text Verbindung
            .mdl-card__supporting-text
                .mdl-textfield.mdl-js-textfield
                    input#ac-connection-device-field.mdl-textfield__input(type="text")
                    label.mdl-textfield__label(for="ac-connection-device-field") /dev/null
                button#ac-connection-device-menu.mdl-button.mdl-js-button.mdl-js-ripple-effect.mdl-button--icon
                    i.material-icons(role="presentation") arrow_drop_down
                ul.mdl-menu.mdl-menu__item.mdl-js-menu.mdl-js-ripple-effect(for="ac-connection-device-menu")
                    li.mdl-menu__item /dev/ttyS0
                    li.mdl-menu__item /dev/ttyS88
                    li.mdl-menu__item /dev/ttyS8
                button#ac-connection-connect.mdl-button.mdl-js-button.mdl-button--raised Verbinden
        #ac-load-plan-card.mdl-card.mdl-shadow--2dp.mdl-cell.mdl-cell--4-col
            .mdl-card__title
                h2.mdl-card__title-text Plan
            .mdl-card__supporting-text
                .mdl-textfield.mdl-js-textfield.mdl-textfield--file
                    input#ac-load-plan-upload-file.mdl-textfield__input(placeholder="plan.acp" type="text")
                    .mdl-button.mdl-button--primary.mdl-button--icon.mdl-button--file
                         i.material-icons attach_file
                         input#ac-load-plan-upload-button(type="file")
                button#ac-load-plan-load-button.mdl-button.mdl-js-button.mdl-button--raised Plan laden
