extends ./template/basic.pug

block headerTitle
    span.mdl-layout-title Home

block main
    .mdl-grid
        #ac-welcome-card.mdl-card.mdl-shadow--2dp.mdl-cell.mdl-cell--2-col
            .mdl-card__title(style="padding-bottom: 0; padding-top: 200px")
                h2.mdl-card__title-text(style="box-shadow: inset 0px -78px 31px -40px rgba(255,255,255,1)")
                    | Willkommen bei AControl!
            .mdl-card__supporting-text
                p Stellen Sie zunächst eine Verbindung her und laden Sie einen Plan hoch, um anzufangen.

        #ac-connection-card

        #ac-load-plan-card.mdl-card.mdl-shadow--2dp.mdl-cell.mdl-cell--4-col
            .mdl-card__title
                h2.mdl-card__title-text Plan
            .mdl-card__supporting-text
                .mdl-textfield.mdl-js-textfield.mdl-textfield--file
                    input#ac-load-plan-upload-file.mdl-textfield__input(placeholder="plan.acp" type="text")
                    .mdl-button.mdl-button--primary.mdl-button--icon.mdl-button--file
                         i.material-icons attach_file
                         input#ac-load-plan-upload-button(type="file")
                button#ac-load-plan-load-button.mdl-button.mdl-js-button.mdl-button--raised Plan laden
