$dropdown-height: 2rem

header
    background: teal
    color: #fff
    position: absolute
    top: 0
    left: 0
    right: 0
    height: $header-height
    padding: 1rem 40px
    box-sizing: border-box
    display: flex
    align-items: center

    h1
        margin: 0
        height: auto
        line-height: 1
        font-size: $dropdown-height

    .ports-dropdown
        margin-left: 5%
        background: #fff
        color: #000
        visibility: hidden
        transition: visibility 0.1s linear
        padding: 0.5rem 7px
        padding-right: 1.5rem
        position: relative
        font-size: 1rem
        height: $dropdown-height
        min-width: 200px
        box-sizing: border-box
        flex-basis: 200px
        flex-grow: 2

        .current
            line-height: 1

        &:after
            content: ''
            display: block
            position: absolute
            top: 0
            right: 0
            width: $dropdown-height
            height: $dropdown-height
            background:
                image: url("/img/chevron-down.png")
                size: cover
            transform: rotateZ(0deg)
            transition: transform 0.2s ease-in-out
            cursor: pointer

        &.visible
            visibility: visible

        &.dropped
            &:after
                transform: rotateZ(180deg)
            .items
                visibility: visible
                opacity: 1
                transform: scaleY(1)


        .items
            background: #fff
            box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4)
            position: absolute
            top: $dropdown-height + .1rem
            left: 0
            visibility: hidden
            opacity: 0
            z-index: 998
            transition: all 0.2s ease-in-out
            transform: scaleY(0)
            transform-origin: top center
            padding: .5rem 20px

            > div
                cursor: pointer
                position: relative
                padding-bottom: .25rem
                margin-bottom: .25rem

                &:after
                    content: ''
                    display: block
                    height: 1px
                    background-color: $dividers
                    position: absolute
                    left: 2.5%
                    right: 2.5%
                    bottom: 0


    .server-settings-toggle
        height: $dropdown-height
        width: $dropdown-height
        background:
            image: url('/img/wrench.png')
            size: cover
        cursor: pointer
        margin-right: 20px
        transform-origin: top left
        &.play
            animation-name: wrench
            animation-duration: .5s
            animation-iteration-count: 2
            animation-delay: 0
            

        @keyframes wrench
            33%
                transform: rotateZ(-30deg)
            66%
                transform: rotateZ(30deg)

    .client-settings-toggle
        height: $dropdown-height
        width: $dropdown-height
        background:
            image: url('/img/settings.png')
            size: cover
        cursor: pointer

        &.play
            animation-name: settings-rotate
            animation-duration: 1s
            animation-iteration-count: 1

        @keyframes settings-rotate
            0%
                transform: rotateZ(0deg)
            100%
                transform: rotateZ(360deg)
