html, body
    overflow: hidden

main
    margin-top: $header-height

.controls
    overflow: auto
    width: 100%
    padding: 2rem 40px
    height: calc(100vh - #{$header-height + $console-height})
    position: relative
    box-sizing: border-box
    transition: height 0.2s ease-in-out
    .control
        width: $icon-size
        height: $icon-size
        display: block
        border: 1px solid $dividers
        position: absolute

        @media screen and (max-width: 992px)
            width: $icon-size-mobile
            height: $icon-size-mobile
        
    &.console-collapsed
        height: calc(100vh - #{$header-height + $console-height-collapsed})

    .toggle-btn
        @extend .control
        background-color: $accent
        &:hover
            cursor: pointer

    .track-icn
        @extend .control
        background-color: brown

.console
    position: absolute
    bottom: 0
    left: 0
    right: 0
    padding: 1rem 40px
    background: $dividers
    height: $console-height
    overflow: hidden
    box-sizing: border-box
    transition: height 0.2s ease-in-out
    
    &.collapsed
        height: $console-height-collapsed
        padding-bottom: .5rem
                
        .toggle
            transform: rotate(180deg)
            

    h3
        margin-top: .5rem
        margin-bottom: .5rem
        display: inline
    
    .toggle
        cursor: pointer
        float: right
        width: 48px
        height: 48px
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3)
        border-radius: 50%
        transition: transform 0.2s ease-in-out, box-shadow 0.1s linear
        transform: rotate(0deg)
        background: 
            image: url('/img/chevron-down-fab.png')
            size: cover
        &:hover
            box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.4) 
    .messages
        background: #fff
        height: 100%
        overflow: auto
        font-weight: 400
        font-size: .9rem
        padding-top: 20px
        margin-top: 20px
        padding-bottom: 20px
        box-sizing: border-box
        *
            margin-left: 10px
