@import url(normalize.css);
@font-face {
  font-family: "Roboto";
  src: url("/fonts/roboto.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Roboto";
  src: url("/fonts/roboto-light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }
/*@font-face
 * font-family: 'Roboto'
 * src: url('/fonts/roboto-condensed.woff') format('woff')
 * font-weight: 400
 * font-style: normal
 * font-stretch: condensed
 */
/*@font-face
 * font-family: 'Roboto'
 * src: url('/fonts/roboto-condensed-light.woff') format('woff')
 * font-weight: 300
 * font-style: normal
 * font-stretch: condensed
 */
html, body {
  font-family: "Roboto", "Open Sans", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  color: #000; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 300; }

a {
  text-decoration: none;
  font-weight: 600;
  color: teal; }

.spinner, .loader .preloader {
  width: 48px;
  height: 48px;
  position: relative; }
  .spinner:before, .loader .preloader:before {
    content: "";
    display: block;
    padding-top: 100%; }
  .spinner.inline, .loader .inline.preloader {
    display: inline-block; }
  .spinner .circular, .loader .preloader .circular {
    -webkit-animation: rotate 2s linear infinite;
            animation: rotate 2s linear infinite;
    height: 100%;
    width: 100%;
    -webkit-transform-origin: center;
            transform-origin: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; }
    .spinner .circular .path, .loader .preloader .circular .path {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
      stroke: #FF4081;
      -webkit-animation: dash 1.5s ease-in-out infinite;
              animation: dash 1.5s ease-in-out infinite;
      stroke-linecap: round; }

.loader {
  background: #0f0f14;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  -webkit-transition: all 1s ease-in-out;
          transition: all 1s ease-in-out;
  text-align: center;
  opacity: 1;
  visibility: visible;
  color: #fff; }
  .loader .title {
    margin-top: 10%;
    font-size: 7rem;
    font-weight: 300; }
  .loader .preloader {
    width: 100px;
    height: 100px;
    position: relative;
    top: 10%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }

body.loaded .loader {
  opacity: 0;
  visibility: hidden;
  z-index: -2; }

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }
@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0; }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35; }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124; } }
@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0; }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35; }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124; } }
.track {
  background-color: #eee;
  background-size: cover;
  background-position: 50% 50%;
  -webkit-transition: background 0.1s ease-in-out;
          transition: background 0.1s ease-in-out;
  width: 48px;
  height: 48px;
  display: block;
  border: 1px solid #B6B6B6;
  position: absolute;
  /* Straight tracks */
  /* Curves / diagonals */
  /* Stoppers */
  /* Switches */ }
  @media screen and (max-width: 992px) {
    .track {
      width: 64px;
      height: 64px; } }
  .track.switch {
    cursor: pointer; }
  .track.g0 {
    background-image: url("/img/tracks/g0.png"); }
  .track.g90 {
    background-image: url("/img/tracks/g90.png"); }
  .track.d0 {
    background-image: url("/img/tracks/d0.png"); }
  .track.d90 {
    background-image: url("/img/tracks/d90.png"); }
  .track.d180 {
    background-image: url("/img/tracks/d180.png"); }
  .track.d270 {
    background-image: url("/img/tracks/d270.png"); }
  .track.dd0 {
    background-image: url("/img/tracks/dd0.png"); }
  .track.dd90 {
    background-image: url("/img/tracks/dd90.png"); }
  .track.p0 {
    background-image: url("/img/tracks/p0.png"); }
  .track.p90 {
    background-image: url("/img/tracks/p90.png"); }
  .track.p180 {
    background-image: url("/img/tracks/p180.png"); }
  .track.p270 {
    background-image: url("/img/tracks/p270.png"); }
  .track.wl0.l {
    background-image: url("/img/tracks/wl0l.png"); }
  .track.wl0.r {
    background-image: url("/img/tracks/wl0r.png"); }
  .track.wl90.l {
    background-image: url("/img/tracks/wl90l.png"); }
  .track.wl90.r {
    background-image: url("/img/tracks/wl90r.png"); }
  .track.wl180.l {
    background-image: url("/img/tracks/wl180l.png"); }
  .track.wl180.r {
    background-image: url("/img/tracks/wl180r.png"); }
  .track.wl270.l {
    background-image: url("/img/tracks/wl270l.png"); }
  .track.wl270.r {
    background-image: url("/img/tracks/wl270r.png"); }
  .track.wr0.l {
    background-image: url("/img/tracks/wr0l.png"); }
  .track.wr0.r {
    background-image: url("/img/tracks/wr0r.png"); }
  .track.wr90.l {
    background-image: url("/img/tracks/wr90l.png"); }
  .track.wr90.r {
    background-image: url("/img/tracks/wr90r.png"); }
  .track.wr180.l {
    background-image: url("/img/tracks/wr180l.png"); }
  .track.wr180.r {
    background-image: url("/img/tracks/wr180r.png"); }
  .track.wr270.l {
    background-image: url("/img/tracks/wr270l.png"); }
  .track.wr270.r {
    background-image: url("/img/tracks/wr270r.png"); }

.console {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem 40px;
  background: #B6B6B6;
  height: 15rem;
  box-sizing: border-box;
  -webkit-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .console .messages {
    -webkit-box-flex: 2;
    -webkit-flex-grow: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
    background: #fff;
    height: 100%;
    overflow: auto;
    font-weight: 400;
    font-size: 0.95rem;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
    margin-right: 10px; }
    .console .messages * {
      margin-left: 10px; }
  .console .actions {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .console .actions .toggle {
      cursor: pointer;
      width: 48px;
      height: 48px;
      box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
      border-radius: 50%;
      -webkit-transition: -webkit-transform 0.2s ease-in-out, box-shadow 0.1s linear;
              transition: transform 0.2s ease-in-out, box-shadow 0.1s linear;
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      background-image: url("/img/chevron-down-fab.png");
      background-size: cover;
      z-index: 2; }
      .console .actions .toggle:hover {
        box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.4); }
    .console .actions .clear {
      cursor: pointer;
      width: 32px;
      height: 32px;
      background-image: url("/img/notification-clear-all.png");
      background-size: cover;
      margin-top: 20%; }
  .console.collapsed {
    height: 5rem;
    padding-bottom: 0.5rem; }
    .console.collapsed .toggle {
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg);
      box-shadow: -3px -3px 5px rgba(0, 0, 0, 0.3); }
      .console.collapsed .toggle:hover {
        box-shadow: -3px -3px 7px rgba(0, 0, 0, 0.4); }
    .console.collapsed .clear {
      display: none; }

.settings-overlay {
  position: fixed;
  z-index: 800;
  top: 5rem;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
          transition: transform 0.5s ease-in-out;
  text-align: center;
  overflow-y: auto;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.5); }
  .settings-overlay.open {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  .settings-overlay .server {
    display: none; }
    .settings-overlay .server.open {
      display: block; }
  .settings-overlay .client {
    display: none; }
    .settings-overlay .client.open {
      display: block; }
  .settings-overlay .setting {
    margin: 10px auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 30%; }
    .settings-overlay .setting .label {
      text-align: left; }

header {
  background: teal;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 5rem;
  padding: 1rem 40px;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 808; }
  header h1 {
    margin: 0;
    height: auto;
    line-height: 1;
    font-size: 2rem; }
  header .ports-dropdown {
    margin-left: 5%;
    background: #fff;
    color: #000;
    visibility: hidden;
    -webkit-transition: visibility 0.1s linear;
            transition: visibility 0.1s linear;
    padding: 0.5rem 7px;
    padding-right: 1.5rem;
    position: relative;
    font-size: 1rem;
    height: 2rem;
    min-width: 200px;
    box-sizing: border-box;
    -webkit-flex-basis: 200px;
        -ms-flex-preferred-size: 200px;
            flex-basis: 200px;
    -webkit-box-flex: 2;
    -webkit-flex-grow: 2;
        -ms-flex-positive: 2;
            flex-grow: 2; }
    header .ports-dropdown .current {
      line-height: 1; }
    header .ports-dropdown:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      width: 2rem;
      height: 2rem;
      background-image: url("/img/chevron-down.png");
      background-size: cover;
      -webkit-transform: rotateZ(0deg);
              transform: rotateZ(0deg);
      -webkit-transition: -webkit-transform 0.2s ease-in-out;
              transition: transform 0.2s ease-in-out;
      cursor: pointer; }
    header .ports-dropdown.visible {
      visibility: visible; }
    header .ports-dropdown.dropped:after {
      -webkit-transform: rotateZ(180deg);
              transform: rotateZ(180deg); }
    header .ports-dropdown.dropped .items {
      visibility: visible;
      opacity: 1;
      -webkit-transform: scaleY(1);
              transform: scaleY(1); }
    header .ports-dropdown .items {
      background: #fff;
      box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
      position: absolute;
      top: 2.1rem;
      left: 0;
      visibility: hidden;
      opacity: 0;
      z-index: 998;
      -webkit-transition: all 0.2s ease-in-out;
              transition: all 0.2s ease-in-out;
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
      -webkit-transform-origin: top center;
              transform-origin: top center;
      padding: 0.5rem 20px; }
      header .ports-dropdown .items > div {
        cursor: pointer;
        position: relative;
        padding-bottom: 0.25rem;
        margin-bottom: 0.25rem; }
        header .ports-dropdown .items > div:after {
          content: "";
          display: block;
          height: 1px;
          background-color: #B6B6B6;
          position: absolute;
          left: 2.5%;
          right: 2.5%;
          bottom: 0; }
  header .server-settings-toggle {
    height: 2rem;
    width: 2rem;
    background-image: url("/img/wrench.png");
    background-size: cover;
    cursor: pointer;
    margin-right: 20px;
    -webkit-transform-origin: top left;
            transform-origin: top left; }
    header .server-settings-toggle.play {
      -webkit-animation-name: wrench;
              animation-name: wrench;
      -webkit-animation-duration: 0.5s;
              animation-duration: 0.5s;
      -webkit-animation-iteration-count: 1;
              animation-iteration-count: 1;
      -webkit-animation-delay: 0;
              animation-delay: 0; }
@-webkit-keyframes wrench {
  33% {
    -webkit-transform: rotateZ(-30deg);
            transform: rotateZ(-30deg); }
  66% {
    -webkit-transform: rotateZ(30deg);
            transform: rotateZ(30deg); } }
@keyframes wrench {
  33% {
    -webkit-transform: rotateZ(-30deg);
            transform: rotateZ(-30deg); }
  66% {
    -webkit-transform: rotateZ(30deg);
            transform: rotateZ(30deg); } }
  header .client-settings-toggle {
    height: 2rem;
    width: 2rem;
    background-image: url("/img/settings.png");
    background-size: cover;
    cursor: pointer; }
    header .client-settings-toggle.play {
      -webkit-animation-name: settings-rotate;
              animation-name: settings-rotate;
      -webkit-animation-duration: 1s;
              animation-duration: 1s;
      -webkit-animation-iteration-count: 1;
              animation-iteration-count: 1; }
@-webkit-keyframes settings-rotate {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg); }
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg); } }
@keyframes settings-rotate {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg); }
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg); } }
html, body {
  overflow: hidden; }

main {
  margin-top: 5rem; }

.controls {
  overflow: auto;
  width: 100%;
  padding: 2rem 40px;
  height: calc(100vh - 20rem);
  position: relative;
  box-sizing: border-box;
  -webkit-transition: height 0.2s ease-in-out;
          transition: height 0.2s ease-in-out; }
  .controls.console-collapsed {
    height: calc(100vh - 10rem); }

.spinner.activity, .loader .activity.preloader {
  float: right;
  -webkit-transition: visibility 0.2s ease-in-out;
          transition: visibility 0.2s ease-in-out; }
  .spinner.activity.hidden, .loader .activity.hidden.preloader {
    visibility: hidden; }
